*
{
	margin: 0;
	padding: 0;
}

body
{
	font: 400 15px/1.8 "Lato", sans-serif;
	font-size: 15px;
	line-height: 25px;
}

#holder
{
	width: 100%;
	position: fixed;
	background-color: #C9D2F9;
}

#header
{
	height: 250px;
	padding: 10pt;
}

#header_content
{
	width:700px;
	margin: auto;
}

#header a
{
	text-decoration: none;
	color: #2E2E2E;
}

#header a:hover
{
	text-decoration: none;
	color: #2E2E2E;
}

#header h1
{
	font-size: 24px;
}

#header h2
{
	font-style: italic;
	margin-top: 5px;
}

#id_picture
{
	width: 250px;
	height: 250px;
	float: left;
	border: 2px solid grey;
	-moz-border-radius: 125px;
	-webkit-border-radius: 125px;
	border-radius: 125px;
	background: url("../images/id.png") no-repeat;
	background-size: 100%;
	margin-right: 25px;
}

#nav
{
	text-align: center;
	width: 100%;
	position:fixed;
	background-color: #FAFAFA;
	padding: 5px 0px 5px 0px;
	font-size: 14px;
	border-bottom: 2px solid #C9D2F9;
}

#nav ul 
{
    list-style-type: none;
}

#nav li
{
	display: inline;
}

#nav a
{
	color: #5882FA;
	text-decoration: none;
	font-weight: bold;
	padding: 5pt;
	
}

#nav a:hover
{
	text-decoration: underline;
	color: #2E2E2E;
}

section
{
	padding-top: 300px;
}

.parallax 
{
	background-image: url("../images/background_tile.jpg");
	background-repeat: repeat-x repeat-y;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

footer
{
	padding: 10px 20px 10px 20px;
	text-align: center;
}

article
{
	background-color: #FAFAFA;
	padding: 20px;
}

article p
{
	padding: 10px 20px 10px 20px;
	margin: 10px 10px 10px 10px;
	width: 800px;
	margin: auto;
	text-align: justify;
}

article h1
{
	text-align: center;
}

article li
{
	width: 770px;
	margin: auto;
}

article #chronology
{
	
}

article #publication
{
	
}
