*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	line-height: 18px;
	background-color: #FAFAFA;
}

a
{
	color: #5882FA;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	color: #5882FA;
	text-decoration: underline;
	font-weight: bold;
}

header 
{
	border-bottom: 2px solid #5882FA;
	color: #2E2E2E;
}

header #centerblock
{
	width: 800px;
	margin: auto;
	padding: 30px 10px 30px 10px;
}

header a
{
	text-decoration: none;
	color: #2E2E2E;
}

header a:hover
{
	text-decoration: none;
	color: #2E2E2E;
}

header h1
{
	font-size: 24px;
}

header h2
{
	font-style: italic;
	margin-top: 5px;
}

nav
{
	text-align: center;
	padding: 5px 0px 5px 0px;
	font-size: 14px;
	border-bottom: 2px solid #5882FA;
}

nav ul 
{
    list-style-type: none;
}

nav li
{
	display: inline;
}

nav a
{
	color: #5882FA;
	text-decoration: none;
	font-weight: bold;
	padding: 5pt;
	
}

nav a:hover
{
	background-color: #5882FA;
	text-decoration: none;
	color: #2E2E2E;
}

nav a:visited
{

}

section
{
	width: 1000px;
	margin: auto;
}

article
{
	padding: 10px 25px 10px 25px;
	background-color: #E0E0F8;
}

article h1
{
	font-size: 17px;
	padding: 10px 10px 10px 0px;
}

article h2
{
	font-size: 15px;
	padding: 10px 10px 10px 0px;
	font-style: italic;
}

article h3
{
	font-size: 13px;
	padding: 10px 10px 10px 0px;
	font-style: italic;
	font-weight: normal;
	text-decoration: underline;
}

article p
{
	text-align: justify;
	margin-bottom: 10px;
}

#citation
{
	margin-bottom: 40px;
}

.title
{
	font-style: italic;
	font-weight: bold;
	font-size: 13px;
	color: #4C0B5F;
	padding-left: 25px;
	background: transparent url('inc/img/icon_title_20x20.png') no-repeat left;
	margin-bottom: 5px;
}

.authors
{
	background: transparent url('inc/img/icon_authors_20x20.png') no-repeat left;
	margin-left: 30px;
	margin-bottom: 5px;
	padding-left: 25px;
}

.source
{
	background: transparent url('inc/img/icon_authors_20x20.png') no-repeat left;
	margin-left: 30px;
	padding-left: 25px;
	margin-bottom: 5px;
}

.note
{
	background: transparent url('inc/img/icon_authors_20x20.png') no-repeat left;
	margin-left: 30px;
	padding-left: 25px;
}

aside
{
	width: 200px;
	float: left;
	padding: 10px 10px 10px 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #BCA9F5;
}

aside h1
{
	font-size: 16px;
	padding: 10px;
}

aside p
{
	text-align: left;
}

footer
{
	border-top: 2px solid #5882FA;
	border-bottom: 2px solid #5882FA;
	float: bottom;
}

footer #centerblock
{
	width: 800px;
	margin: auto;
	padding: 20px 10px 20px 10px;
}

footer h1
{
	background: transparent url('/assets/images/icon_vcard_32x32.png') no-repeat left;
	padding-left: 35px;
}

.code
{
	font-family: "Courier New", Courier, serif;
	font-weight: bold;
	font-size: 13px;
}

.bibtex_code
{
	font-family: "Courier New", Courier, monospace;
	margin: 0;
}

.more
{
	display: none;
	margin-top: 20px;
	margin-bottom: 5px;
    border-radius: 10px;
	background-color: #E6E6E6;
	padding: 5px;
	border: 1px solid #848484;
}

.downloadLink
{
	margin-right: 5px;
	padding: 10px 10px 10px 25px;
	background: transparent url('inc/img/icon_pdf_20x20.png') no-repeat left;
}

.githubLink
{
	margin-right: 5px;
	padding: 10px 10px 10px 25px;
	background: transparent url('/assets/images/icon_github_20x20.png') no-repeat left;
}

.slidesLink
{
	margin-right: 5px;
	padding: 10px 10px 10px 25px;
	background: transparent url('inc/img/icon_slides_20x20.png') no-repeat left;
}

.downloadZipLink
{
	margin-right: 5px;
	padding: 10px 10px 10px 25px;
	background: transparent url('inc/img/icon_zipdl_20x20.png') no-repeat left;
}

.showLink
{
	margin-right: 5px;
	padding: 10px 10px 10px 25px;
	background: transparent url('inc/img/icon_tex_20x20.png') no-repeat left;
}

.showAbstract
{
	margin-right: 5px;
	padding: 10px 10px 10px 25px;
	background: transparent url('inc/img/icon_abstract_20x20.png') no-repeat left;
}

.hideLink
{
	margin-right: 5px;
	padding: 10px 10px 10px 25px;
	background: transparent url('inc/img/icon_close_20x20.png') no-repeat left;
}

.buttons
{
	margin-top: 15px;
	text-align: right;
}

#copyright
{
	text-align: center;
	margin: 10px 0px 10px 0px;
	font-style: italic;
	font-size: 11px;
}

#tabulated
{
	margin: 0px 0px 0px 40px;
}

article ul
{
	padding: 10px 25px 10px 50px;
}

article ol
{
	padding: 10px 25px 10px 50px;
}

table.wstyle, .wstyle th, .wstyle td {
    border-collapse: collapse;
	border: 2px solid #5882FA;
	padding: 2px;
}

td
{
    text-align: center;
}

.leftalign
{
    text-align: left;
	vertical-align: text-top;
}

#redirectBlock
{
	background-color: #E0E0F8;
	border-radius: 10px;
	margin: auto;
	width: 500px;
	padding: 10px;
	margin-top: 50px;
}

#redirectBlock h1
{
	font-size: 16px;
	padding: 10px;
}

#redirectBlock p
{
	text-align: justify;
	margin-bottom: 5px;
}

#error
{
	color: white;
	background: transparent url('../images/icon_error_20x20.png') no-repeat left;
	background-color: red;
	font-weight: bold;
	padding: 10px 10px 10px 25px;
	border-radius: 5pt;
	margin: auto;
	width: 70%;
}

#success
{
	color: white;
	background: transparent url('../images/icon_success_20x20.png') no-repeat left;
	background-color: green;
	font-weight: bold;
	padding: 10px 10px 10px 25px;
	border-radius: 5pt;
	margin: auto;
	width: 70%;
}

/* low-res devices */
@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}
	
	body,
	header #centerblock,
	section,
	aside,
	footer #centerblock,
	#redirectBlock,
	#tabulated,
	.buttons {
		width: auto;
	}
	
	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video,
	.bibtex_code {
		max-width: 100%;
	}
	
	img {
		height: auto;
	}
	
	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp, 
	.bibtex_code {
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word;
	}
	
	code,
	pre,
	samp {
		white-space: pre-wrap;
	}
	
	article:before {
		content: "(low-res version of the website)";
		display: block;
		text-align: center;
		font-style: italic;
		font-weight: bold;
		color: green;
	}
}
